---
http_interactions:
- request:
    method: get
    uri: http://rpm.newrelic.com/accounts.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"6421a9efd042eb1f557d443b6010b3b9"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <accounts type="array">
          <account>
            <allow-rails-core>false</allow-rails-core>
            <api-key>api_key</api-key>
            <data-access-key>8fe689a3c6e5b099a28551733333c2acaeb2a80136c9357</data-access-key>
            <id type="integer">1</id>
            <license-key>adb4b49abefe681dce6d228d764082f1b36c9357</license-key>
            <name>polar-rails-staging Heroku</name>
            <partner-external-identifier nil="true"></partner-external-identifier>
            <phone-number nil="true"></phone-number>
            <event-feed-uri>/account_feeds/8fe689a3c6e5b099a28551733333c2acaeb2a80136c9357/events.rss</event-feed-uri>
            <primary-admin>
              <email>cole.jeff.services@gmail.com</email>
              <first-name nil="true"></first-name>
              <last-name nil="true"></last-name>
              <state>active</state>
            </primary-admin>
            <subscription>
              <annual-renewal-on nil="true"></annual-renewal-on>
              <expires-on nil="true"></expires-on>
              <number-of-hosts>unlimited</number-of-hosts>
              <starts-on>2013-11-02</starts-on>
              <state>free</state>
              <product-name>Standard</product-name>
            </subscription>
          </account>
        </accounts>
  recorded_at: Sun, 07 Sep 2014 06:32:37 GMT
- request:
    method: get
    uri: http://rpm.newrelic.com/accounts/1/applications.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"a2f87f24fee08dc231c1275662707617"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <applications type="array">
          <application>
            <id type="integer">app_id</id>
            <name>polar-rails-staging</name>
            <overview-url>https://rpm.newrelic.com/accounts/1/applications/app_id</overview-url>
            <servers-url>https://rpm.newrelic.com/api/v1/accounts/1/applications/app_id/servers</servers-url>
          </application>
        </applications>
  recorded_at: Sun, 07 Sep 2014 06:32:37 GMT
recorded_with: VCR 2.9.2
